<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>宿管动态</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>

<script type="text/javascript">
        $(document).ready(function(){
          $(".click").click(function(){ 
          $(".tip").fadeIn(200);
          });
          
          $(".tiptop a").click(function(){
          $(".tip").fadeOut(200);
        });

          $(".sure").click(function(){
          $(".tip").fadeOut(100);
        });

          $(".cancel").click(function(){
          $(".tip").fadeOut(100);
        });

        });
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">宿管动态</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">   
    <table class="tablelist">
    	<thead>
        	<tr>
                <th>序号<i class="sort"><img src="__PUBLIC__/admin/images/px.gif" /></i></th>
                <th>标题</th>
                <th>作者</th>
                <th>来源</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                  <tr>
                    <td>{$i+($page-1)*10}</td>
                    <td>{$vo['aTitle']}</td>
                    <td>{$vo['author']|default="无"}</td>
                    <td>{$vo['source']|default="无"}</td>
                    <td>{$vo['aTime']}</td>
                    <td>
                        <a href="{:U('Article/republish',array('articleId'=>$vo['articleId']))}" class="tablelink">查看</a>
                        <a href="{:U('Article/delList',array('articleId'=>$vo['articleId']))}" class="tablelink" onclick="return del()">删除
                        </a>
                    </td>
                </tr> 
            </volist>
        </tbody>
    </table>
    
   
    <div class="pagin">
    	<div class="message">共<i class="blue">{$count}</i>条记录，当前显示第&nbsp;<i class="blue">{$page|default=1}&nbsp;</i>页</div>
        <notempty name="list">
              <ul class="paginList">
                 <if condition="$page gt 1">
                    <li class="paginItem">
                        <a href="{:U('Article/sgdt',array('page'=>$page-1))}">
                            <span class="pagepre"></span>
                        </a>
                    </li>
                    <else/>
                    <li class="paginItem"><a href="#" disabled="disabled"> <span class="pagepre"></span></a></li>
                </if>
                 <for start="1" end="$pageCount+1">
                   <li class="paginItem"><a href='{:U("Article/sgdt?page=$i")}'>{$i}</a></li>
                     <if condition="$i egt 20">
                       <li class="paginItem more"><a href='#'>...</a></li>
                       <php>break;</php>
                   </if>
               </for>
                 <if condition="$page lt $pageCount">
                    <li class="paginItem">
                        <a href="{:U('Article/sgdt',array('page'=>$page+1))}"><span class="pagenxt"></span></a>
                    </li>
                    <else/>
                    <li class="paginItem"><a href="#"  disabled="disabled"><span class="pagenxt"></span></a></li>
                </if>
            </ul>
        </notempty>
    </div>
   
    
    </div>
    
    <script type="text/javascript">
	  $('.tablelist tbody tr:odd').addClass('odd');
	</script>
     <script type="text/javascript">
        function active(){
            $(".paginList").children().eq(({$Think.get.page|default=1})).addClass('current');
        }
        active();
        function del(){
            return confirm("你确定删除吗？");
        }
         function back(){
             return confirm("确定退出吗？");
        }
    </script>
</body>
</html>
