<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/admin/js/jquery.js"></script>
<link rel="shortcut icon" href="__PUBLIC__/img/logo.png">


</head>

<body style="background:url(__PUBLIC__/admin/images/topbg.gif) repeat-x;">

    <div class="topleft">
     <a href="javascript:void(0)" target="_parent"><img src="__PUBLIC__/admin/images/biaoti.png" title="系统首页" /></a>
    </div>
        
            
    <div class="topright">    
    <ul>
    <li><span><img src="__PUBLIC__/admin/images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li>
    <li><a href="#">关于</a></li>
    <li><a href="{:U('/Admin/Index')}" target="_parent" onclick="return confirm('确定退出吗？')">退出</a></li>
    </ul>
     
    <div class="user">
     <span>{$Think.session.user.username|default="admin"}</span>
    </div>    
    
    </div>
</body>
</html>
